---
---
<section id="lydeffekter" class="" x-data>
    <article @click="$refs.trykforatafspillelyd.play()" class="cursor cursor-click">
    <audio x-ref="trykforatafspillelyd">
        <source src="thankyou.mp3" type="audio/mpeg">
    </audio>
     <div class="max-w-xl mx-auto invert p-8 text-center">
    <p>&copy; DiDe Webfeature projekt 2024</p>
</div></article>
</section>
  